@import './variables';
.info{
   display:flex;
   background:white;
   max-width:80vw;
   z-index:1;
border-radius:12px;
transform: translateY(50%);
box-shadow:0 0 10px $light;
.section{
   display:flex;
   position:relative;
   flex-direction: column;
   margin-left:35px;
   margin-right:80px;
   padding-bottom:40px;
   transition:0.4s;
   .title{
     color:$light; 
     font-weight:500;
     font-size:0.8em;
     margin-top:40px;
     text-align: center;
   }
   .value{
      font-weight:500;
      font-size:1.5em;
      margin-top:15px;
      text-align: center;
   }
   .vr{
      position:absolute;
      left: -36px;
      width:1px;
      height:50%;
      top:25%;
      background-color: $light;
   }
}
}
@media only screen and (max-width:1375px){
   .info{
      .section{
         margin-right:30px;
         .value{
            font-size:1.2em;
         }
      }
   }
}
@media only screen and (max-width:900px){
   .info{
      .section{
      margin-right:10px;
      margin-left:15px;
         .vr{
            left:-16px;
         }
         .title{
            font-size:0.8em;
         }
         .value{
            font-size:1em;
         }
      }
   }
}
@media only screen and (max-width:580px){
   .info{
      transform: translateY(10%);
      padding-top:8px;
      padding-bottom: 30px;
      flex-direction: column;
      .section{
         margin:0;
         padding:0;
         align-items: center;
         max-width:auto;
         width:70vw;
         .title{
margin-top:10px;
font-size:0.8em;
         }
         .value{
            margin-top: 10px;
            font-size:1.2em;
         }
         .vr{
            display: none;
         }
      }
   }
}
